
stages:
  - build
  - deploy
variables:
  release_ver: "diennt"
before_script:  #// Câu lệnh dùng để đăng nhập vào Container Registry trên Gitlab
  #- docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker info
  - pwd
  - echo $release_ver
image-build:
  # select the most appropriate image for your project
  stage: build
  script:
    - docker login -u nguyenthaidien -p $CI_REGISTRY_PASSWORD
    - mvn clean
    - mvn package -DskipTests=true
    - docker build . --file Dockerfile --tag nguyenthaidien/service-demo-resource-server:latest
    - docker push nguyenthaidien/service-demo-resource-server:latest
deploy-code:
  #
  stage: deploy
  script:
  - cd /opt/dcms/
  - pwd
  - docker compose up -d
  - exit 

